.container-1{
    border: 2px solid black;
    width: 75%;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.flexbox-container-1{
    border: 2px solid black;
    padding: 30px;
    flex-wrap: wrap;
}
.flexbox-container-1 img{
    border: 2px solid black;
    border-radius: 50%;
}
.flexbox-container-1 img:hover{
    box-shadow:0px 10px 50px rgba(37, 50, 238, 1);
}